html {
    height: 100%;
}

body {
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    text-align: left;
    color: whitesmoke;
    border-left: 0px;
    padding-left: 20px;
}

p {
    color: aliceblue;
    padding-right: 30%;
    padding-left: 10px;

}